/**/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/**/
body{
    background: #080808;
    color: #fff ;
}
/**/
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background-image.png);
    background-size: cover;
    background-position: center;


}
/**/
.logo {
    width: 140px; 
    height: auto; 
}
/**/
.container{
    padding: 10px 10%;
}
/**/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: flat;
}
/**/
nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}
/**/
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/**/
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
/**/
nav ul li a:hover::after{
    width:100%;
}
/**/
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
/**/
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}

/*-----------------About----------------*/

#about{
    padding: 80px 0pc;
    color: #ababab;
}
/**/
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/**/
.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;

}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    
}

.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
   transform: 0.5s; 
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contains ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contains ul li span{
    color: #b54769;
    font-size: 14px;
}

.tab-contains{
    display: none;
}

.tab-contains.active-tab{
    display: block;
}

/* Project*/

#project{
    padding: 50px 0;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;

}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.5);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;

}

/*Contact*/

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
    
    
}

.contact-left p {
    margin-top: 35px;
    font-weight: 500;
    font-size: 18px;

}
.contact-left p i{
    margin-right: 15px;
    color: #ff004f;
    font-size: 20px;
}

.social-icons{
    margin-top: 30px;
    
    
}
.social-icons a{
    margin: 0 20px 0 0 ;
    text-decoration: none;
    font-size: 30px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    background-color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background-color: #ff004f;
}

.contact-right form{
    width: 100%;
    
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0 0 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form btn2{
    padding: 14px 60px;
    font-size: 30px;
    margin-top: 100px;
    cursor: pointer;
}

.copyright{
    display: block;
    background-color: #262626;
    padding: 20px 0 20px 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

nav .fa-solid{
    display: none;
}


/*-------------------CSS for Small Screen-----------------*/

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/personal_photo.jpg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background-color: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;

    }

    .sub-title{
        font-size: 40px;

    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
}